/* styles/style.css */
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-container {
  margin-top: 20px; /* Adicione um espaçamento acima do texto */
}

.glitter-text {
  font-size: 2em;
  position: relative;
  display: inline-block;
  font-weight: bold; /* Adicione negrito para destacar ainda mais o texto */
  color: black; /* Torna o texto transparente para mostrar apenas o brilho */
  -webkit-background-clip: text;
  background-clip: text;
  animation: glitter 2s linear infinite;
}

@keyframes glitter {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 400% 400%;
  }
}
